/* fournisseur.css */

.anchor-pane {
    -fx-background-color: #f8f9fa;
}

.pane {
    -fx-background-color: #343a40;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button {
    -fx-background-color: #007bff;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #ced4da;
}

.hbox .button {
    -fx-background-color: transparent;
}
